# Poetry
.venv
venv
env/
*.egg-info/
.eggs/
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Project outputs
*.npy
*.npz

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local / env
.env
.env.local
*.local
